body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	min-height: 100vh;
	position: relative;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

header .bg-nav {
	background-color: #138496;
}

.btn {
	padding: .2rem .75rem;
}

.form-group {
    margin-bottom: .5rem;
}

.form-control {
    height: calc(1.5em + .45rem + 2px);
    padding: .15rem .75rem;
    font-size: .8rem;
}

.input-group-text {
    padding: .375rem .75rem;
    font-size: .8rem;
}

main.list-resto img  {
	float: left;
	width: 130px;
    height: 85px;
	border-radius: 5px;
	margin-right: 15px;
	object-fit: cover;
}

main.list-resto .item p.jarak, main.list-resto .item .desc span {
	font-size: 13px;
	height: 20px;
	overflow: hidden;
}

main.list-resto .desc .fa-star, .header-detail .desc .fa-star {
	color: #f7ce04;
}



/* halaman detail resto */
section.top-bar {
	background: rgba(0,0,0,.3);
	padding: 10px;
	width: 100%;
}

section.top-bar span {
	margin-right: 20px;
	color: white;
}

section.top-bar span.name {
	margin-left: 32%;
}

header.header-detail img {
	height: 250px;
	object-fit: cover;
}

header.header-detail .desc p.status {
	font-size: 13px;
    border-bottom: 2px solid #4949f59e;
    padding-bottom: 10px;
}

header.header-detail .desc p span, header.header-detail .desc .fa-map-marker-alt, footer small {
	color: #4949f5;
}

header.header-detail .desc p.title {
	font-weight: bold;
	font-size: 17px;
}

header.header-detail .desc span.subtitle {
	font-size: 15px;
}

header.header-detail .desc p.bottom {
	border-bottom: 2px solid #4949f59e;
	padding-bottom: 10px;
}

main .rating .row {
	flex-direction: column;
	align-items: center;
}

main .rating span i {
	opacity: .5;
}

main.komentar .list-comment small.time {
	font-size: 70%;
}


section.notif {
	background-color: rgba(0,0,0,.7);
	color: white;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 97%;
	height: 40px;
	z-index: 9999;
	border-radius: 10px;
	font-size: 14px;
	padding-top: 9px;
	text-align: center; 
}



/* halaman admin */
header.admin {
	padding-top: 40px;
	padding-bottom: 20px;
}

header.admin img {
	width: 130px;
	height: 90px;
	border-radius: 5px;
	object-fit: cover;
	margin-bottom: 10px;
}

/*.wrapper {
	height: 100vh;
	background: #f1f1f1;
	position: relative;
}*/

footer {
	position: absolute;
	bottom: 5px;
	display: block;
	width: 100%;
}

